@model VideothequeProjet.Models.Customers

@{
    ViewBag.Title = "Client "+@Model.firstName+" "+@Model.lastName;
}

<div>
    
        <h1>@Html.DisplayFor(model => model.firstName)
            @Html.DisplayFor(model => model.lastName)
        </h1>
        <p>@Html.DisplayFor(model => model.address)</p>
        <p>@Html.DisplayFor(model => model.phoneNumber)</p>
        <p>@Html.DisplayFor(model => model.mailAddress)</p>

    
        <a href='@Url.Content("~/Rentings/Create?customerID=" + Model.customerID)'>Ajouter une nouvelle location</a>

        <h2>
            Locations en cours
            
        </h2>
    @{
        var cptLoc = 0;
        foreach(var r in Model.Rentings){
            foreach(var rd in r.RentingDetails){
                if(!rd.back){
                    cptLoc++;
                }
            }
        }
    }

    @if (cptLoc == 0)
    {
        <p>
            Aucune
        </p>
    }
    else
    {
        <table class="table">
            <tr>

                <th>
                    Film
                </th>
                <th>
                    Date de près
                </th>
                <th>
                    Date de retour prévu
                </th>
                <th></th>

            </tr>

            @foreach (var renting in Model.Rentings)
            {
                foreach (var rd in renting.RentingDetails)
                {
                    if (!rd.back)
                    {
                        <tr>

                            <td>
                                <a href='@Url.Content("~/Rentings/Show?id= "+renting.rentingID)'>@rd.DVD.Movies.title</a>

                            </td>
                            <td>
                                @rd.dateStart
                            </td>
                            <td @{ if (rd.dateEnd < DateTime.Today) { @: style=" color:red;"
                                                                                               } }>
                                @rd.dateEnd
                            </td>
                            <td>
                                <a href='@Url.Content("~/Rentings/DVDBack?rdid=" + rd.RentingDetailsID)'>Rendre le DVD</a>
                            </td>

                        </tr>
                    }

                }
            }

        </table>
    }
    







    <h2>Films loués</h2>

    <table class="table">
        <tr>

            <th>
                Film
            </th>
            <th>
                Date de près
            </th>
            <th>
                Date de retour
            </th>
        </tr>

        @foreach (var renting in Model.Rentings)
        {
            foreach (var rd in renting.RentingDetails)
            {                
                if (rd.back)
                {
                    <tr>

                        <td>
                            <a href='@Url.Content("~/Rentings/Show?id= "+renting.rentingID)'>@rd.DVD.Movies.title</a>
</td>
                        <td>
                            @rd.dateStart.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @rd.dateEnd.Value.ToString("dd/MM/yyyy")
                        </td>

                    </tr>
                }

            }
        }

    </table>

</div>
<p>
    @Html.ActionLink("Modifier le profil", "Edit", new { id = Model.customerID }) |
    @Html.ActionLink("Retour à la liste des clients", "Index")
</p>
