@model IEnumerable<VideothequeProjet.Models.Customers>

@{
    ViewBag.Title = "Liste des clients";
}

<h2>Liste des clients</h2>

<p>
    @Html.ActionLink("Nouveau Client", "Create", new object { }, new { @class = "btn btn-default"})
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mailAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mailAddress)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.customerID }) |
            @Html.ActionLink("Détails", "Details", new { id=item.customerID }) 
        </td>
    </tr>
}

</table>
