@model VideothequeProjet.Models.Rentings

@{
    ViewBag.Title = "Location";
}

<h2>@ViewBag.Title</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.firstName)
            @Html.DisplayFor(model => model.Customers.lastName)
        </dd>

        <dt>
            Fait par
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.firstName)

            @Html.DisplayFor(model => model.Users.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentingDetails.First().dateStart)
        </dt>

        <dd>
            @Model.RentingDetails.First().dateStart.ToString("dd/MM/yyyy")                  
        </dd>


        @if (Model.RentingDetails.Count() != 0)
        {
            <table class="table">

                <tr>
                    <th>
                        @Html.LabelFor(model => model.RentingDetails.First().DVD.Movies.title)
                    </th>

                    <th>
                        @Html.LabelFor(model => model.RentingDetails.First().DVD.Movies.price)
                    </th>
                    <th>
                        @Html.LabelFor(model => model.RentingDetails.First().back)
                    </th>
                </tr>
                @foreach (var rd in Model.RentingDetails)
                {
                    <tr>
                        <td>
                            @rd.DVD.Movies.title
                        </td>
                        <td>
                            @rd.price
                        </td>
                        <td>
                            @if (rd.back)
                            {
                                @:OK
                            }
                            
                        </td>
                    </tr>
                }
            </table>
        }

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>
        <dt>
            <a class="btn btn-default" href='@Url.Action("editBild", "Rentings", new { id = Model.rentingID })'>Editer une facture</a>
        </dt>
        <dd></dd>

</dl>
</div>
<p>  
    
    <a href='@Url.Action("Details", "Customers", new { id = Model.customerID})'>Retour au profil de l'utilisateur</a>
    
</p>
