@model IEnumerable<VideothequeProjet.Models.Movies>

@{
    ViewBag.Title = "Liste des films";
}

<h2>Liste des films</h2>

<p>
    @Html.ActionLink("Ajouter un film", "Create", new object { }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        
        <th>            
            @Html.DisplayNameFor(model => model.title)   
            <a href="@Url.Action("Index")"><span class="glyphicon glyphicon-chevron-up"></span></a>         
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.duration)
            <a href="@Url.Action("Index", new { field = "duration"})"><span class="glyphicon glyphicon-chevron-up"></span></a>         
             
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
            <a href="@Url.Action("Index", new { field = "year"})"><span class="glyphicon glyphicon-chevron-up"></span></a>                    
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note) 
            <a href="@Url.Action("Index", new { field = "note"})"><span class="glyphicon glyphicon-chevron-up"></span></a>                            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directors) 
            <a href="@Url.Action("Index", new { field = "director"})"><span class="glyphicon glyphicon-chevron-up"></span></a>                           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actors)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmTypes)            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.ActionLink(item.title, "Details", new { id = item.movieID })            
        </td>
        
        <td>
            @{
            int h = (int)(item.duration / 60);
            int m = (int)item.duration % 60;

            }
            @h
            h
            @m
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>

        <td>
            @foreach (var director in item.Directors)
            {
                <a href="/Movies/DirectorEdit/@item.movieID">@Html.DisplayFor(modelItem => director.firstName) @Html.DisplayFor(modelItem => director.lastName)</a>
            }
            @if (item.Directors.Count() == 0) {@Html.ActionLink("Selectionner", "DirectorEdit", new { id = item.movieID }) }
            
        </td>
        <td>
            @foreach (var actor in item.Actors)
            {
                <a href="/Movies/ActorEdit/@item.movieID">@Html.DisplayFor(modelItem => actor.firstName) @Html.DisplayFor(modelItem => actor.lastName)</a>
            }
            @if (item.Actors.Count() == 0)
            {@Html.ActionLink("Selectionner", "ActorEdit", new { id = item.movieID }) }

        </td>
        <td>
            @foreach (var type in item.FilmTypes)
            {
                <p>@Html.DisplayFor(modelItem => type.filmType)</p>
            }
        </td>

        <td>
            @item.price
            €
        </td>

        <td>
            @Html.ActionLink("Modifier", "Edit", new {  id=item.movieID }) 
            
            <!-- @Html.ActionLink("Delete", "Delete", new { id=item.movieID })-->
        </td>



    </tr>
}

</table>
